# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    secret: ThisTokenIsNotSoSecretChangeIt
    fb_test_main_access_token: EAAH7VdwxIAUBAEXyZAvGY0Wockrn9q8wAUvS640vCf7jMmRYBD4XV6HYlgq6vleX9UrnYyzheveHE1mC45xZAXvAJdNEEVeZAYU5QuSd9HZCWenXAtgBTJNRAY59eU5DX9ZBWJ7adyhB4pfMRrOquZAcxeURUFrZBnAmXMPKnExZCW9XDFOOqrsuvQIZCN8vqlhojBGeamRQXaQZDZD
    fb_test_secondary_access_token: EAAH7VdwxIAUBAJzZBT8ov93yIunhTrm323vOHhcObZA4x6A7xjb183AOEFUYv2HPWq9tBlybQZCj81U5MazRfvZCzrdMVRLZAZBhyhZBN5mLvwGrEdzKUqr8eJsaI2JRSFFofz0MtIHKJpePQzQq0T58sFhkc05XcGZB0kuJ1lzKczaifZAsTPnp7RIh6jfZAvGZCQzdmJaMItCakh4NwjJzTBQ
