# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    secret: ThisTokenIsNotSoSecretChangeIt
    fb_test_main_access_token: EAAH7VdwxIAUBAEFZBFMZBxpnmoZCLLgFdTAlZCGVSbxiN1PF0q1IE1RG1HfXT1JlZCwNWZCA07adgl6aCR9kVLHQzJfpZCWwNHQehtMIvSliyXGNYqZCs4GpZA8g36IsQfGdGc6xwWyE1xD3Y8QBsxFm48wFzy7OXZAttuvSKOOkvyB4ZBdiZBbUSUUXjoglHfAkaBUpbmvjCEm06wZDZD
    fb_test_secondary_access_token: EAAH7VdwxIAUBAEC41uQIcIOF2vGlrFAMKPdIvQ6Y6EFBskGZBO3sQQdh0YS7ifo8J5ex2LTlKS9SocVAocZA9ZBYTU6OOl7EJzF1VZA7lN2iikxVkEEGsFbeNp9UOkm5Y4uYgQ6Hm6kupxzvYTEwt0UscwNgP869Vq1JM1LnlGZBRoXxLHOA1lRZCQqhAvBZAYccJiJWvrAhAZDZD
