# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    secret: ThisTokenIsNotSoSecretChangeIt
    fb_app_secret: yourFacebookAppSecret
    fb_test_main_access_token: EAAH7VdwxIAUBALBqsbv3XB3272enudaEK3PjNU7gvzHly8caDezw459dZB68U8UsfhSE30QEFGWLnwdeAVay0x6ofVBclmI0Elk5P1JyJNqohBXog5nKRTbN8kRDx8JcZBiqnlOjtlr9wgyqwam5e2A6HlPpHPTDNszsGRSnqzb8JJkgkG4exBNGPQ2Hf6lK1VQb3OTAZDZD
    fb_test_secondary_access_token: EAAH7VdwxIAUBADa9cI4gnP3dAAWBO062G8yZAZAiN0nuYgsVomNJoJVnBNxkDRsYUPmTCVZCC5qP1hMOEZCV4c50r1ZBxZAKdaBi3pLcKuP3em9aexQP8BZCR54hBBE0JBNZAUBD6f2uXe2marwd3MllWaO4t2yvchLKspCWJ0lk5LsOuDsGqaxJ8IpzbNZBDnlPhGOTyvDJq0wZDZD
